* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  overflow-x: hidden; }

body {
  position: relative;
  background-color: #284eb5; }

@font-face {
  font-family: "Teko";
  src: url("../fonts/Teko-Bold.ttf"); }

@font-face {
  font-family: "Teko2";
  src: url("../fonts/Teko-Regular.ttf"); }

.div1 .animacion {
  animation-duration: 3s; }

#header {
  grid-area: header; }

#footer {
  grid-area: footer; }

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA QUERIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ###################################### INDEX.html ########################################### */
#fot {
  grid-area: fot; }

#club {
  grid-area: club; }

#tig {
  grid-area: tig; }

#sab {
  grid-area: sab; }

@media screen and (min-width: 1024px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 78px repeat(3, 1fr) 100px;
    row-gap: 15px;
    grid-template-areas: "header header" "fot club" "rom vid" "tig sab" "footer footer"; }
  /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */
  .grilla .div1 nav {
    border: 5px solid black;
    background-image: linear-gradient(blue, #6378ff); }
  .grilla .div1 .bokita {
    width: 90px;
    height: 100px;
    float: left;
    margin-left: -10px;
    visibility: visible; }
  .grilla .div1 h1 {
    font-family: 'Teko';
    font-size: 30pt;
    color: #ffe100;
    width: 430px;
    margin-left: 90px; }
  .grilla .div1 h2 {
    font-family: 'Teko';
    font-size: 22pt;
    color: #ffe100;
    width: 220px;
    margin-left: 90px;
    margin-top: -7px; }
  .grilla .div1 .menu {
    font-size: 15pt;
    width: fit-content;
    border: 2px solid #ffc107;
    border-radius: 6px;
    float: right;
    margin-top: -40px;
    margin-right: -5px; }
    .grilla .div1 .menu .pag {
      color: white; }
      .grilla .div1 .menu .pag:hover {
        color: #ffc107; }
  /* ------------------------------------- CLUB -------------------------------------------------*/
  .bot2, .grilla .div3 #his, .grilla .div5 #tit, .grilla .div7 #not {
    width: 80px;
    height: 30px;
    margin-top: -5px;
    border-radius: 4px;
    border: 2px solid black;
    float: right;
    font-size: 12pt;
    margin-right: 20px;
    outline: none;
    transition: height 1s; }
  .grilla .div2 {
    margin-top: 50px;
    width: 102%;
    height: 360px;
    border: 2px solid black;
    background-image: url("../img/diario.jpg"); }
    .grilla .div2 .fotos {
      width: 480px;
      height: 320px;
      margin-left: -10px; }
  .grilla .div3 {
    background-image: url("../img/diario.jpg");
    border: 2px solid black;
    height: 360px;
    margin-top: 50px; }
    .grilla .div3 h2 {
      margin-top: 20px;
      font-family: 'Teko';
      font-size: 24pt;
      text-align: center; }
    .grilla .div3 p {
      font-size: 14pt;
      font-family: 'Teko2';
      text-align: left;
      margin-left: 6px; }
    .grilla .div3 #his:hover {
      background-color: #e7e72e;
      height: 35px; }
  /* -------------------------------------- REAL MADRID ------------------------------------------*/
  .grilla .div4 {
    margin-top: 10px;
    border: 2px solid black;
    height: 360px; }
    .grilla .div4 iframe {
      width: 98%;
      height: 320px;
      margin-top: 15px;
      margin-left: 5px;
      border: 2px solid white; }
  .grilla .div5 {
    border: 2px solid black;
    margin-top: 10px;
    height: 360px; }
    .grilla .div5 h2 {
      margin-top: 20px;
      font-family: 'Teko';
      font-size: 30pt;
      text-align: center; }
    .grilla .div5 p {
      font-size: 18pt;
      font-family: 'Teko2';
      text-align: left;
      margin-left: 4px; }
    .grilla .div5 #tit:hover {
      background-color: #e7e72e;
      height: 35px; }
  /* ----------------------------------------- TIGRE -----------------------------------------------*/
  .grilla .div6 {
    margin-top: -30px;
    border: 2px solid black;
    height: 360px; }
    .grilla .div6 img {
      width: 98%;
      height: 320px;
      margin-top: 15px;
      margin-left: 5px;
      border: 2px solid white; }
  .grilla .div7 {
    margin-top: -30px;
    border: 2px solid black;
    height: 360px; }
    .grilla .div7 h2 {
      margin-top: 20px;
      font-family: 'Teko';
      font-size: 24pt;
      text-align: center; }
    .grilla .div7 p {
      font-size: 16pt;
      font-family: 'Teko2';
      text-align: left;
      margin-left: 6px; }
    .grilla .div7 #not:hover {
      background-color: #e7e72e;
      height: 35px; }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .grilla .div8 {
    margin-top: -60px;
    border-top: 2px solid black; }
    .grilla .div8 .pie section a {
      border: none;
      width: 50px;
      height: 36px;
      transition: width 1s, height 1s; }
      .grilla .div8 .pie section a:hover {
        width: 65px;
        height: 40px; }
    .grilla .div8 .contacto {
      width: fit-content;
      margin: 0 auto; }
      .grilla .div8 .contacto h2 {
        font-family: 'Teko';
        text-decoration: none;
        width: fit-content;
        margin: 0 auto; }
        .grilla .div8 .contacto h2:hover {
          color: #e7e72e; } }

/* ################################ CONTACTO.html ######################################## */
#for {
  grid-area: for; }

@media screen and (min-width: 1024px) {
  .grilla2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 78px 1fr 100px;
    column-gap: 0px;
    row-gap: 10px;
    grid-template-areas: "header" "for" "footer"; }
  /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */
  .grilla2 .div1 nav {
    border: 5px solid black; }
  .grilla2 .div1 .bokita {
    width: 90px;
    height: 100px;
    float: left;
    margin-left: -10px;
    visibility: visible; }
  .grilla2 .div1 h1 {
    font-family: 'Teko';
    font-size: 30pt;
    width: 430px;
    margin-left: 90px; }
  .grilla2 .div1 h2 {
    font-family: 'Teko';
    font-size: 22pt;
    width: 220px;
    margin-left: 90px;
    margin-top: -7px; }
  .grilla2 .div1 .menu {
    font-size: 15pt;
    width: fit-content;
    border: 2px solid #ffc107;
    border-radius: 6px;
    float: right;
    margin-top: -40px;
    margin-right: -8px; }
    .grilla2 .div1 .menu .pag {
      color: white; }
      .grilla2 .div1 .menu .pag:hover {
        color: #ffc107; }
  /* ####################################### FORMULARIO ########################################## */
  .grilla2 .div9 .formu {
    margin-top: 50px;
    font-family: 'Teko2';
    font-size: 14pt;
    width: 80%;
    height: 650px;
    margin-left: 15px;
    margin-bottom: 100px; }
    .grilla2 .div9 .formu h2 {
      font-family: 'Teko';
      font-size: 34pt;
      height: fit-content;
      width: fit-content; }
    .grilla2 .div9 .formu .datos {
      float: left;
      margin-top: -10px; }
      .grilla2 .div9 .formu .datos .ape {
        margin-top: 20px; }
      .grilla2 .div9 .formu .datos .mail {
        margin-top: 20px; }
      .grilla2 .div9 .formu .datos .tick {
        margin-top: 20px; }
      .grilla2 .div9 .formu .datos .opt {
        margin-top: 20px; }
      .grilla2 .div9 .formu .datos .cont {
        margin-top: 20px; }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .grilla2 .div8 {
    margin-top: -60px;
    border-top: 2px solid black; }
    .grilla2 .div8 .pie section a {
      border: none;
      width: 50px;
      height: 36px;
      transition: width 1s, height 1s; }
      .grilla2 .div8 .pie section a:hover {
        width: 65px;
        height: 40px; }
    .grilla2 .div8 .contacto {
      width: fit-content;
      margin: 0 auto; }
      .grilla2 .div8 .contacto h2 {
        font-family: 'Teko';
        width: fit-content;
        margin: 0 auto; }
        .grilla2 .div8 .contacto h2:hover {
          color: #e7e72e; } }

/* ####################################### HISTORIA.html ########################################## */
#elClub {
  grid-area: elClub; }

#colores {
  grid-area: colores; }

#primera {
  grid-area: primera; }

#gira {
  grid-area: gira; }

@media screen and (min-width: 1024px) {
  .grilla4 {
    margin-top: -40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 78px repeat(3, 1fr) 100px;
    row-gap: 10px;
    grid-template-areas: "header header" "elClub elClub" "colores colores" "primera primera" "gira gira" "footer footer"; }
  /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */
  .grilla4 .div1 nav {
    border: 5px solid black; }
  .grilla4 .div1 .bokita {
    width: 90px;
    height: 100px;
    float: left;
    margin-left: -10px;
    visibility: visible; }
  .grilla4 .div1 h1 {
    font-family: 'Teko';
    font-size: 30pt;
    width: 430px;
    margin-left: 90px; }
  .grilla4 .div1 h2 {
    font-family: 'Teko';
    font-size: 22pt;
    width: 220px;
    margin-left: 90px;
    margin-top: -7px; }
  .grilla4 .div1 .menu {
    font-size: 15pt;
    width: fit-content;
    border: 2px solid #ffc107;
    border-radius: 6px;
    float: right;
    margin-top: -40px;
    margin-right: -8px; }
    .grilla4 .div1 .menu .pag {
      color: white; }
      .grilla4 .div1 .menu .pag:hover {
        color: #ffc107; }
  /* ------------------------------------- CONTENIDO -------------------------------------------------*/
  .grilla4 .div14 .titulo h2 {
    font-size: 34pt;
    font-family: 'Teko'; }
  .grilla4 .div14 .elClu h3 {
    font-size: 30pt;
    text-align: left;
    margin-left: 20px; }
  .grilla4 .div14 .elClu img {
    width: 600px;
    margin-right: 10px;
    margin-top: 5px;
    float: right; }
  .grilla4 .div14 .elClu p {
    font-family: 'Teko2';
    font-size: 16pt;
    text-align: left;
    padding: 8px;
    border: 2px solid; }
  .grilla4 .div15 h3 {
    text-align: right;
    font-size: 30pt;
    font-family: 'Teko';
    margin-right: 20px; }
  .grilla4 .div15 img {
    width: 600px;
    margin-left: 10px;
    margin-top: 5px;
    float: left; }
  .grilla4 .div15 p {
    font-family: 'Teko2';
    font-size: 16pt;
    text-align: right;
    padding: 8px;
    border: 2px solid; }
  .grilla4 .div16 {
    margin-top: -100px; }
    .grilla4 .div16 h3 {
      font-size: 30pt;
      text-align: left;
      margin-left: 20px; }
    .grilla4 .div16 img {
      width: 600px;
      margin-right: 10px;
      margin-top: 5px;
      float: right; }
    .grilla4 .div16 p {
      font-family: 'Teko2';
      font-size: 16pt;
      text-align: left;
      padding: 8px;
      border: 2px solid; }
  .grilla4 .div17 {
    margin-top: -250px; }
    .grilla4 .div17 h3 {
      text-align: right;
      font-size: 30pt;
      font-family: 'Teko';
      margin-right: 20px; }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .grilla4 .div8 {
    margin-top: -60px;
    border-top: 2px solid black; }
    .grilla4 .div8 .pie section a {
      border: none;
      width: 50px;
      height: 36px;
      transition: width 1s, height 1s; }
      .grilla4 .div8 .pie section a:hover {
        width: 65px;
        height: 40px; }
    .grilla4 .div8 .contacto {
      width: fit-content;
      margin: 0 auto; }
      .grilla4 .div8 .contacto h2 {
        font-family: 'Teko';
        width: fit-content;
        margin: 0 auto; }
        .grilla4 .div8 .contacto h2:hover {
          color: #e7e72e; } }

/* ####################################### PLANTILLA.html ########################################## */
#plantel {
  grid-area: plantel; }

#plantelG {
  grid-area: plantelG; }

#gremio {
  grid-area: gremio; }

#gremioT {
  grid-area: gremioT; }

@media screen and (min-width: 1024px) {
  .grilla3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 78px repeat(2, 1fr) 100px;
    row-gap: 10px;
    grid-template-areas: "header header" "plantel plantel" "plantelG plantelG" "gremio gremioT" "footer footer"; }
  /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */
  .grilla3 .div1 nav {
    border: 5px solid black; }
  .grilla3 .div1 .bokita {
    width: 90px;
    height: 100px;
    float: left;
    margin-left: -10px;
    visibility: visible; }
  .grilla3 .div1 h1 {
    font-family: 'Teko';
    font-size: 30pt;
    width: 430px;
    margin-left: 90px; }
  .grilla3 .div1 h2 {
    font-family: 'Teko';
    font-size: 22pt;
    width: 220px;
    margin-left: 90px;
    margin-top: -7px; }
  .grilla3 .div1 .menu {
    font-size: 15pt;
    width: fit-content;
    border: 2px solid #ffc107;
    border-radius: 6px;
    float: right;
    margin-top: -40px;
    margin-right: -8px; }
    .grilla3 .div1 .menu .pag {
      color: white; }
      .grilla3 .div1 .menu .pag:hover {
        color: #ffc107; }
  /* ------------------------------------- PLANTELES -------------------------------------------------*/
  .grilla3 .div10 {
    margin-top: 80px; }
    .grilla3 .div10 h2 {
      font-size: 34pt;
      font-family: 'Teko'; }
    .grilla3 .div10 table {
      text-align: center;
      font-size: 14pt; }
      .grilla3 .div10 table thead {
        font-size: 18pt; }
  .grilla3 .div11 {
    margin-top: 20px; }
    .grilla3 .div11 h2 {
      font-size: 34pt;
      font-family: 'Teko';
      width: fit-content; }
    .grilla3 .div11 h3 {
      margin-top: 50px;
      font-size: 28pt;
      font-family: 'Teko';
      width: fit-content; }
    .grilla3 .div11 table {
      text-align: center;
      font-size: 14pt; }
      .grilla3 .div11 table thead {
        font-size: 18pt; }
  .grilla3 .div12 {
    height: fit-content;
    margin: 0 auto;
    margin-top: -120px; }
    .grilla3 .div12 img {
      margin-left: 10px;
      width: 96%;
      border: 2px solid white; }
  .grilla3 .div13 {
    border: 2px solid black;
    margin-top: -120px;
    height: 330.45px; }
    .grilla3 .div13 p {
      font-family: 'Teko2';
      font-size: 18pt;
      text-align: left;
      margin: 0 auto;
      margin-top: 15px;
      width: 99%; }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .grilla3 .div8 {
    margin-top: 130px; }
    .grilla3 .div8 .pie section a {
      border: none;
      width: 50px;
      height: 36px;
      transition: width 1s, height 1s; }
      .grilla3 .div8 .pie section a:hover {
        width: 65px;
        height: 40px; }
    .grilla3 .div8 .contacto {
      width: fit-content;
      margin: 0 auto; }
      .grilla3 .div8 .contacto h2 {
        font-family: 'Teko';
        width: fit-content;
        margin: 0 auto; }
        .grilla3 .div8 .contacto h2:hover {
          color: #e7e72e; } }

/* ####################################### TITULOS.html ########################################## */
#trofeos {
  grid-area: trofeos; }

#palermo {
  grid-area: palermo; }

@media screen and (min-width: 1024px) {
  .grilla5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 78px repeat(2, 1fr) 100px;
    row-gap: 0px;
    grid-template-areas: "header header" "trofeos trofeos" "palermo palermo" "footer footer"; }
  /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */
  .grilla5 .div1 nav {
    border: 5px solid black; }
  .grilla5 .div1 .bokita {
    width: 90px;
    height: 100px;
    float: left;
    margin-left: -10px;
    visibility: visible; }
  .grilla5 .div1 h1 {
    font-family: 'Teko';
    font-size: 30pt;
    width: 430px;
    margin-left: 90px; }
  .grilla5 .div1 h2 {
    font-family: 'Teko';
    font-size: 22pt;
    width: 220px;
    margin-left: 90px;
    margin-top: -7px; }
  .grilla5 .div1 .menu {
    font-size: 15pt;
    width: fit-content;
    border: 2px solid #ffc107;
    border-radius: 6px;
    float: right;
    margin-top: -40px;
    margin-right: -8px; }
    .grilla5 .div1 .menu .pag {
      color: white; }
      .grilla5 .div1 .menu .pag:hover {
        color: #ffc107; }
  /* ------------------------------------- TROFEOS ----------------------------------------------  */
  .grilla5 .div18 {
    margin-top: 80px; }
    .grilla5 .div18 h2 {
      font-size: 34pt;
      font-family: 'Teko';
      margin-left: 15px; }
    .grilla5 .div18 table {
      text-align: center;
      font-size: 14pt; }
      .grilla5 .div18 table thead {
        font-size: 18pt; }
  .grilla5 .div19 {
    margin-top: 20px; }
    .grilla5 .div19 h2 {
      font-size: 34pt;
      font-family: 'Teko';
      width: fit-content;
      margin-left: 15px; }
    .grilla5 .div19 iframe {
      width: 500px;
      height: 280px;
      margin-left: 5px; }
    .grilla5 .div19 img {
      width: 500px;
      height: 280px;
      margin-top: 20px;
      float: right;
      margin-right: 5px; }
    .grilla5 .div19 p {
      font-family: 'Teko2';
      font-size: 18pt;
      text-align: left;
      margin: 0 auto;
      margin-top: 15px;
      width: 99%; }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .grilla5 .div8 {
    margin-top: 130px; }
    .grilla5 .div8 .pie section a {
      border: none;
      width: 50px;
      height: 36px;
      transition: width 1s, height 1s; }
      .grilla5 .div8 .pie section a:hover {
        width: 65px;
        height: 40px; }
    .grilla5 .div8 .contacto {
      width: fit-content;
      margin: 0 auto; }
      .grilla5 .div8 .contacto h2 {
        font-family: 'Teko';
        width: fit-content;
        margin: 0 auto; }
        .grilla5 .div8 .contacto h2:hover {
          color: #e7e72e; } }

/* ####################################### NOTICIAS.html ########################################## */
#cor {
  grid-area: cor; }

#dyj {
  grid-area: dyj; }

#tig {
  grid-area: tig; }

#asa {
  grid-area: asa; }

@media screen and (min-width: 1024px) {
  .grilla6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 78px repeat(2, 1fr) 100px;
    gap: 24px;
    grid-template-areas: "header header" "cor dyj" "tig asa" "footer footer"; }
  /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */
  .grilla6 .div1 nav {
    border: 5px solid black;
    background-color: blue; }
  .grilla6 .div1 .bokita {
    width: 90px;
    height: 100px;
    float: left;
    margin-left: -10px;
    visibility: visible; }
  .grilla6 .div1 h1 {
    font-family: 'Teko';
    font-size: 30pt;
    width: 430px;
    margin-left: 90px; }
  .grilla6 .div1 h2 {
    font-family: 'Teko';
    font-size: 22pt;
    width: 220px;
    margin-left: 90px;
    margin-top: -7px; }
  .grilla6 .div1 .menu {
    font-size: 15pt;
    width: fit-content;
    border: 2px solid #ffc107;
    border-radius: 6px;
    float: right;
    margin-top: -40px;
    margin-right: -8px; }
    .grilla6 .div1 .menu .pag {
      color: white; }
      .grilla6 .div1 .menu .pag:hover {
        color: #ffc107; }
  /* ------------------------------------- NOTICIAS ----------------------------------------------  */
  .grilla6 .noti {
    font-size: 34pt;
    font-family: 'Teko';
    margin-left: 15px;
    margin-top: 60px; }
  .grilla6 .div20 {
    height: 480px;
    margin-left: 10px; }
    .grilla6 .div20 img {
      width: 476px; }
    .grilla6 .div20 h2 {
      font-size: 22pt; }
    .grilla6 .div20 p {
      font-size: 16pt; }
  .grilla6 .div21 {
    margin-top: 135px;
    margin-right: 10px;
    float: right; }
    .grilla6 .div21 img {
      width: 476px;
      height: 280.2px; }
    .grilla6 .div21 h2 {
      font-size: 16.5pt; }
    .grilla6 .div21 p {
      font-size: 12pt; }
  .grilla6 .div22 {
    height: 480px;
    margin-left: 10px; }
    .grilla6 .div22 img {
      width: 476px;
      height: 280.2px; }
    .grilla6 .div22 h2 {
      font-size: 22pt; }
    .grilla6 .div22 p {
      font-size: 16pt; }
  .grilla6 .div30 {
    margin-top: 20px;
    margin-right: 10px;
    height: 480px;
    float: right; }
    .grilla6 .div30 img {
      width: 476px;
      height: 280.2px; }
    .grilla6 .div30 h2 {
      font-size: 16.5pt; }
    .grilla6 .div30 p {
      font-size: 12pt; }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .grilla6 .div8 {
    margin-top: -60px;
    border-top: 2px solid black; }
    .grilla6 .div8 .pie section a {
      border: none;
      width: 50px;
      height: 36px;
      transition: width 1s, height 1s; }
      .grilla6 .div8 .pie section a:hover {
        width: 65px;
        height: 40px; }
    .grilla6 .div8 .contacto {
      width: fit-content;
      margin: 0 auto; }
      .grilla6 .div8 .contacto h2 {
        font-family: 'Teko';
        text-decoration: none;
        width: fit-content;
        margin: 0 auto; }
        .grilla6 .div8 .contacto h2:hover {
          color: #e7e72e; } }

/* ####################################### RESERVA.html ########################################## */
#tabla {
  grid-area: tabla; }

#barr {
  grid-area: barr; }

#prox {
  grid-area: prox; }

#pibes {
  grid-area: pibes; }

#hur {
  grid-area: hur; }

@media screen and (min-width: 1024px) {
  .grilla7 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 78px repeat(4, 1fr) 100px;
    gap: 15px;
    grid-template-areas: "header header" "tabla barr" "tabla prox" "pibes pibes" "hur hur" "footer footer"; }
  /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */
  .grilla7 .div1 nav {
    border: 5px solid black; }
  .grilla7 .div1 .bokita {
    width: 90px;
    height: 100px;
    float: left;
    margin-left: -10px;
    visibility: visible; }
  .grilla7 .div1 h1 {
    font-family: 'Teko';
    font-size: 30pt;
    width: 430px;
    margin-left: 90px; }
  .grilla7 .div1 h2 {
    font-family: 'Teko';
    font-size: 22pt;
    width: 220px;
    margin-left: 90px;
    margin-top: -7px; }
  .grilla7 .div1 .menu {
    font-size: 15pt;
    width: fit-content;
    border: 2px solid #ffc107;
    border-radius: 6px;
    float: right;
    margin-top: -40px;
    margin-right: -5px; }
    .grilla7 .div1 .menu .pag {
      color: white; }
      .grilla7 .div1 .menu .pag:hover {
        color: #ffc107; }
  /* ------------------------------------- RESERVA ----------------------------------------------- */
  .grilla7 .div23 {
    margin-top: 80px; }
    .grilla7 .div23 .res h2 {
      font-size: 40pt;
      font-family: 'Teko'; }
    .grilla7 .div23 h2 {
      font-size: 34pt;
      font-family: 'Teko';
      margin-left: 10px; }
    .grilla7 .div23 table {
      margin-left: 10px;
      text-align: center;
      font-size: 14pt; }
      .grilla7 .div23 table thead {
        font-size: 14pt; }
  .grilla7 .div24 {
    margin-top: 80px;
    margin-left: 15px;
    height: 520px;
    width: 480px; }
    .grilla7 .div24 img {
      width: 466px;
      height: 250px; }
  .grilla7 .div25 h2 {
    font-size: 34pt;
    font-family: 'Teko';
    text-align: center; }
  .grilla7 .div25 table {
    margin: 0 auto;
    width: 430px;
    text-align: center;
    font-size: 14pt; }
    .grilla7 .div25 table thead {
      font-size: 18pt; }
  .grilla7 .div26 {
    margin-top: -280px; }
    .grilla7 .div26 h2 {
      font-size: 34pt;
      font-family: 'Teko'; }
    .grilla7 .div26 table {
      text-align: center;
      font-size: 14pt; }
      .grilla7 .div26 table thead {
        font-size: 18pt; }
  .grilla7 .div27 {
    margin-top: -150px; }
    .grilla7 .div27 img {
      width: 800px;
      height: 400px;
      margin-left: 100px; }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .grilla7 .div8 {
    margin-top: -60px;
    border-top: 2px solid black; }
    .grilla7 .div8 .pie section a {
      border: none;
      width: 50px;
      height: 36px;
      transition: width 1s, height 1s; }
      .grilla7 .div8 .pie section a:hover {
        width: 65px;
        height: 40px; }
    .grilla7 .div8 .contacto {
      width: fit-content;
      margin: 0 auto; }
      .grilla7 .div8 .contacto h2 {
        font-family: 'Teko';
        text-decoration: none;
        width: fit-content;
        margin: 0 auto; }
        .grilla7 .div8 .contacto h2:hover {
          color: #e7e72e; } }

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! MOBILE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ####################################### INDEX.html ########################################## */
/* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */
.div1 nav {
  border: 5px solid black;
  background-image: linear-gradient(blue, #6378ff); }
  .div1 nav .bokita {
    width: 55px;
    height: 55px;
    float: right;
    visibility: hidden; }
  .div1 nav h1 {
    font-family: 'Teko';
    font-size: 20pt;
    color: #ffe100;
    margin-left: -6px; }
  .div1 nav h2 {
    font-family: 'Teko';
    font-size: 14pt;
    color: #ffe100;
    margin-left: -6px;
    margin-bottom: -5px; }
  .div1 nav .navbar-toggler {
    margin-top: -45px;
    float: right; }
    .div1 nav .navbar-toggler .navbar-toggler-icon {
      width: 7px;
      height: 15px; }
      .div1 nav .navbar-toggler .navbar-toggler-icon img {
        margin-left: -24px;
        margin-top: -19px;
        width: 55px;
        height: 55px; }
  .div1 nav .menu .pag {
    margin-top: 5px;
    color: white;
    width: fit-content; }

/* ------------------------------------- CLUB ----------------------------------------------  */
.bot, .div3 #his, .div5 #tit, .div7 #not {
  width: 80px;
  margin-top: -30px;
  border-radius: 4px;
  border: 2px solid black;
  float: right;
  font-size: 10pt;
  margin-right: 20px;
  outline: none; }

.div2 {
  margin-top: 100px;
  border: 2px solid black;
  background-image: url("../img/diario.jpg"); }
  .div2 .fotos {
    width: 100%;
    margin: 0 auto;
    height: 250px; }

.div3 {
  background-image: url("../img/diario.jpg");
  border: 2px solid black;
  height: 260px; }
  .div3 h2 {
    margin-top: 20px;
    font-family: 'Teko';
    color: black;
    text-align: center; }
  .div3 p {
    font-size: 11pt;
    font-family: 'Teko2';
    text-align: left;
    margin-left: 4px;
    color: black; }

/* ------------------------------------- REAL MADRID -------------------------------------------------*/
.div4 {
  margin-top: 0px;
  border: 2px solid black;
  height: 220px; }
  .div4 iframe {
    width: 100%;
    height: 215px; }

.div5 {
  border: 2px solid black;
  margin-top: 20px; }
  .div5 h2 {
    margin-top: 20px;
    color: black;
    font-family: 'Teko';
    text-align: center; }
  .div5 p {
    font-size: 14pt;
    font-family: 'Teko2';
    text-align: left;
    margin-left: 4px;
    color: black; }

/* ------------------------------------------------   TIGRE   ----------------------------------------------------------*/
.div6 {
  margin-top: 20px;
  border: 2px solid black; }
  .div6 img {
    width: 100%; }

.div7 {
  border: 2px solid black; }
  .div7 h2 {
    margin-top: 20px;
    color: black;
    font-family: 'Teko';
    text-align: center; }
  .div7 p {
    font-size: 13pt;
    font-family: 'Teko2';
    text-align: left;
    margin-left: 4px;
    color: black; }

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.div8 {
  margin-top: 10px;
  border-top: 2px solid black; }
  .div8 .pie section a {
    border: none;
    width: 50px;
    height: 36px; }
  .div8 .pie .contacto {
    width: fit-content;
    margin: 0 auto; }
    .div8 .pie .contacto a {
      text-decoration: none; }
      .div8 .pie .contacto a h2 {
        font-family: 'Teko';
        color: white;
        width: fit-content;
        margin: 0 auto; }

/* ####################################### CONTACTO.html ########################################## */
.formu {
  margin-top: 120px;
  font-family: 'Teko2';
  font-size: 14pt;
  width: 80%;
  margin-left: 15px;
  margin-bottom: 20px; }
  .formu h2 {
    font-family: 'Teko';
    color: #ffe100;
    font-size: 24pt;
    width: fit-content;
    margin: 0 auto; }
  .formu .datos {
    color: black; }
    .formu .datos .ape {
      margin-top: 20px; }
    .formu .datos .mail {
      margin-top: 20px; }
    .formu .datos .tick {
      margin-top: 20px; }
    .formu .datos .opt {
      margin-top: 20px; }
    .formu .datos .cont {
      margin-top: 20px; }

/* ####################################### PLANTILLA.html ########################################## */
.div10 {
  margin-top: 120px; }
  .div10 h2 {
    font-size: 20pt;
    font-family: 'Teko';
    color: #ffe100; }
  .div10 table {
    font-size: 10pt;
    font-family: 'Teko2';
    color: white;
    text-align: center; }
    .div10 table thead {
      font-family: 'Teko';
      font-size: 12pt;
      color: #ffe100; }

.div11 {
  margin-top: 40px; }
  .div11 h2 {
    font-size: 20pt;
    font-family: 'Teko';
    color: #ffe100; }
  .div11 h3 {
    font-size: 18pt;
    font-family: 'Teko';
    color: #ffe100; }
  .div11 table {
    font-size: 10pt;
    font-family: 'Teko2';
    color: white; }
    .div11 table thead {
      font-family: 'Teko';
      font-size: 12pt;
      color: #ffe100; }

.div12 img {
  width: 350px;
  margin-left: 7px;
  border: 2px solid; }

.div13 {
  border: 2px solid;
  margin-top: 15px;
  margin-left: 4px;
  width: 98%; }
  .div13 p {
    font-family: 'Teko2';
    font-size: 14pt;
    color: black;
    text-align: left;
    margin: 0 auto;
    width: 99%; }

/* ####################################### HISTORIA.html ########################################## */
.div14 {
  margin-top: 100px; }
  .div14 .titulo h2 {
    font-size: 24pt;
    font-family: 'Teko';
    color: #ffe100;
    margin-left: 5px; }
  .div14 .elClu h3 {
    font-size: 22pt;
    font-family: 'Teko';
    color: #ffe100;
    margin-top: 40px;
    text-align: center; }
  .div14 .elClu img {
    height: 350px;
    width: 98%;
    margin-left: 4px;
    border: 2px solid; }
  .div14 .elClu p {
    font-family: 'Teko2';
    font-size: 14pt;
    color: black;
    text-align: left;
    margin: 0 auto;
    margin-top: 5px;
    border: 2px solid;
    width: 99%; }

.div15 {
  margin-top: 50px; }
  .div15 h3 {
    font-size: 22pt;
    font-family: 'Teko';
    color: #ffe100;
    text-align: center; }
  .div15 img {
    height: 350px;
    width: 98%;
    margin-left: 4px;
    border: 2px solid; }
  .div15 p {
    font-family: 'Teko2';
    font-size: 14pt;
    color: black;
    text-align: left;
    margin: 0 auto;
    margin-top: 5px;
    border: 2px solid;
    width: 99%; }

.div16 {
  margin-top: 50px; }
  .div16 h3 {
    font-size: 22pt;
    font-family: 'Teko';
    color: #ffe100;
    text-align: center; }
  .div16 img {
    height: 350px;
    width: 98%;
    margin-left: 4px;
    border: 2px solid; }
  .div16 p {
    font-family: 'Teko2';
    font-size: 14pt;
    color: black;
    text-align: left;
    margin: 0 auto;
    margin-top: 5px;
    border: 2px solid;
    width: 99%; }

.div17 {
  margin-top: 50px; }
  .div17 h3 {
    font-size: 22pt;
    font-family: 'Teko';
    color: #ffe100;
    text-align: center; }

/* ####################################### TITULOS.html ########################################## */
.div18 {
  margin-top: 120px; }
  .div18 h2 {
    font-size: 24pt;
    font-family: 'Teko';
    color: #ffe100;
    margin-left: 5px; }
  .div18 table {
    font-size: 6pt;
    font-family: 'Teko2';
    color: white;
    text-align: center; }
    .div18 table thead {
      font-family: 'Teko';
      font-size: 10pt;
      color: #ffe100; }

.div19 {
  margin-top: 20px; }
  .div19 h2 {
    font-size: 24pt;
    font-family: 'Teko';
    color: #ffe100;
    margin-left: 5px; }
  .div19 iframe {
    margin-top: 20px;
    margin-left: 2px;
    width: 99%;
    height: 200px; }
  .div19 img {
    margin-top: 5px;
    margin-left: 1.5px;
    width: 99%;
    height: 200px; }
  .div19 p {
    font-size: 14pt;
    font-family: 'Teko2';
    color: black;
    text-align: center;
    border: 2px solid;
    width: 98%;
    margin: 0 auto;
    margin-top: 10px; }

/* ####################################### NOTICIAS.html ########################################## */
.noti {
  margin-top: 110px;
  font-size: 24pt;
  font-family: 'Teko';
  color: #ffe100;
  margin-left: 5px; }

.div20 {
  margin-top: 20px;
  height: 480px;
  width: fit-content;
  border: 5px solid; }
  .div20 img {
    width: 352px;
    height: 280px;
    margin-left: 2px;
    margin-top: 2px;
    border: 2px solid; }
  .div20 h2 {
    font-family: 'Teko';
    font-size: 16.5pt;
    text-align: center;
    color: black; }
  .div20 p {
    font-family: 'Teko2';
    font-size: 14pt;
    color: black; }

.div21 {
  margin-top: 20px;
  height: 480px;
  width: fit-content;
  border: 5px solid; }
  .div21 img {
    width: 352px;
    height: 280px;
    margin-left: 2px;
    margin-top: 2px;
    border: 2px solid; }
  .div21 h2 {
    font-family: 'Teko';
    font-size: 16.5pt;
    text-align: center;
    color: black; }
  .div21 p {
    font-family: 'Teko2';
    font-size: 14pt;
    color: black; }

.div22 {
  margin-top: 20px;
  height: 480px;
  width: fit-content;
  border: 5px solid; }
  .div22 img {
    width: 352px;
    height: 280px;
    margin-left: 2px;
    margin-top: 2px;
    border: 2px solid; }
  .div22 h2 {
    font-family: 'Teko';
    font-size: 16.5pt;
    text-align: center;
    color: black; }
  .div22 p {
    font-family: 'Teko2';
    font-size: 14pt;
    color: black; }

.div30 {
  margin-top: 20px;
  height: 480px;
  width: fit-content;
  border: 5px solid; }
  .div30 img {
    width: 352px;
    height: 280px;
    margin-left: 2px;
    margin-top: 2px;
    border: 2px solid; }
  .div30 h2 {
    font-family: 'Teko';
    font-size: 16.5pt;
    text-align: center;
    color: black; }
  .div30 p {
    font-family: 'Teko2';
    font-size: 14pt;
    color: black; }

/* ####################################### RESERVA.html ########################################## */
.div23 {
  margin-top: 110px; }
  .div23 .res h2 {
    font-size: 24pt;
    font-family: 'Teko';
    color: #ffe100; }
  .div23 h2 {
    font-size: 20pt;
    font-family: 'Teko';
    color: #ffe100; }
  .div23 table {
    font-size: 8pt;
    font-family: 'Teko2';
    color: white;
    text-align: center; }
    .div23 table thead {
      font-family: 'Teko';
      font-size: 8pt;
      color: #ffe100; }

.div24 {
  height: 610px;
  width: fit-content;
  border: 5px solid; }
  .div24 img {
    width: 352px;
    height: 280px;
    margin-left: 2px;
    margin-top: 2px;
    border: 2px solid; }
  .div24 h2 {
    font-family: 'Teko';
    font-size: 16.5pt;
    text-align: center;
    color: black; }
  .div24 p {
    font-family: 'Teko2';
    font-size: 12pt;
    color: black; }

.div25 {
  margin-top: 20px; }
  .div25 h2 {
    font-size: 24pt;
    font-family: 'Teko';
    color: #ffe100; }
  .div25 table {
    font-size: 14pt;
    font-family: 'Teko2';
    color: white; }
    .div25 table thead {
      font-family: 'Teko';
      font-size: 16pt;
      color: #ffe100; }

.div26 {
  margin-top: 20px; }
  .div26 h2 {
    font-size: 24pt;
    font-family: 'Teko';
    color: #ffe100; }
  .div26 table {
    font-size: 12pt;
    font-family: 'Teko2';
    color: white; }
    .div26 table thead {
      font-family: 'Teko';
      font-size: 14pt;
      color: #ffe100; }

.div27 img {
  width: 352px;
  height: 280px;
  margin-left: 6px;
  margin-top: 2px;
  border: 2px solid; }
