$colores: (color-fondo:rgb(40, 78, 181),
    color-header:linear-gradient(rgb(0, 0, 255), rgb(99, 120, 255)),
    color-hover-header: #ffc107,
    color-borde-nav: #ffc107,
    color-titulos:#ffe100,
    color-hover:rgb(231, 231, 46),
    color-texto-primario: black,
    color-texto-secundario: white)