.div1 {
    nav {
        border: 5px solid black;
        background-image: map-get($colores, color-header);

        .bokita {
            width: 55px;
            height: 55px;
            float: left;
            margin-right: 15px;
        }

        h1 {
            font-family: 'Teko';
            font-size: 20pt;
            color: map-get($colores, color-titulos);
            margin-left: -6px;
        }

        h2 {
            font-family: 'Teko';
            font-size: 14pt;
            color: map-get($colores, color-titulos);
            margin-left: -6px;
            margin-bottom: -5px;
        }

        .navbar-toggler {
            margin-top: -45px;
            float: right;
            border: 2px solid;
        }

        .menu {
            .pag {
                margin-top: 5px;
                color: map-get($colores, color-texto-secundario);
                width: fit-content;
            }
        }
    }
}

@media screen and (min-width:#{$laptop}) {

    .header {
        .div1 {
            nav {
                border: 5px solid black;
            }

            .bokita {
                @include sizes (90px, 100px);
                float: left;
                margin-left: -10px;
                visibility: visible;
            }

            h1 {
                font-family: 'Teko';
                font-size: 30pt;
                width: 430px;
                margin-left: 90px;
            }

            h2 {
                font-family: 'Teko';
                font-size: 22pt;
                width: 220px;
                margin-left: 90px;
                margin-top: -7px;
            }

            .menu {
                font-size: 15pt;
                width: fit-content;
                border: 2px solid #ffc107;
                border-radius: 6px;
                float: right;
                margin-top: -40px;
                margin-right: -5px;

                .pag {
                    color: map-get($colores, color-texto-secundario);

                    &:hover {
                        color: map-get($colores, color-hover-header);
                    }
                }
            }
        }
    }

    .grilla {
        @extend .header;
    }

    .grillaC {
        @extend .header;
    }

    .grillaH {
        @extend .header;
    }

    .grillaH2 {
        @extend .header;
    }

    .grillaP{
        @extend .header;
    }

    .grillaT {
        @extend .header;
    }

    .grillaN {
        @extend .header;
    }

    .grillaR {
        @extend .header;
    }

    .grilla8{
        @extend .header;
    }
}