@import 'variables';
@import 'colores';
@import 'mixins';
@import 'header';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: map-get($colores, color-fondo);
}

@font-face {
    font-family: "Teko";
    src: url('../fonts/Teko-Bold.ttf');
}

@font-face {
    font-family: "Teko2";
    src: url('../fonts/Teko-Regular.ttf');
}

.div1 .animacion {
    animation-duration: 3s;
}

#header {
    grid-area: header;
}

#footer {
    grid-area: footer;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA QUERIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ###################################### INDEX.html ########################################### */

#fot {
    grid-area: fot;
}

#club {
    grid-area: club;
}

#vid {
    grid-area: vid;
}

#rom {
    grid-area: rom;
}

#tig {
    grid-area: tig;
}

#sab {
    grid-area: sab;
}

@media screen and (min-width:#{$laptop}) {

    .bot2 {
        @include sizes (80px, 30px);
        margin-top: 55px;
        margin-right: 20px;
        border-radius: 4px;
        border: 2px solid black;
        float: right;
        font-size: 12pt;
        text-align: center;
        outline: none;
        transition: width 1s, height 1s;
    }

    .grilla {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(3, 1fr) 100px;
        row-gap: 15px;
        grid-template-areas: "header header"
            "fot club"
            "rom vid"
            "tig sab"
            "footer footer";

            .div2 {
                @include sizes (99%, 360px);
                margin: 0 auto;
                margin-top: 50px;
                margin-left: 12px;
                border: 2px solid black;
                background-image: url('../img/diario.jpg');

                .fotos {
                    @include sizes(480px, 320px);
                    margin: 0 auto;
                }
            }

            .div3 {
                @include sizes (99%, 360px);
                margin: 0 auto;
                margin-top: 50px;
                margin-right: 12px;
                background-image: url('../img/diario.jpg');
                border: 2px solid black;

                h2 {
                    margin-top: 20px;
                    font-family: 'Teko';
                    font-size: 28pt;
                    text-align: center;
                }

                p {
                    font-size: 14pt;
                    width: 98%;
                    margin: 0 auto;
                    font-family: 'Teko2';
                    text-align: left;
                }

                #his {
                    @extend .bot2;

                    &:hover {
                        background-color: map-get($colores, color-hover);
                        @include sizes (85px, 32px);
                    }
                }
            }

            .div4 {
                @include sizes (99%, 360px);
                margin: 0 auto;
                margin-top: 10px;
                margin-right: 12px;
                border: 2px solid black;

                iframe {
                    @include sizes(95%, 320px);
                    margin: 0 auto;
                    margin-top: 16px;
                    margin-left: 20px;
                    border: 2px solid white;
                }
            }

            .div5 {
                @include sizes (99%, 360px);
                border: 2px solid black;
                border-right: none;
                margin: 0 auto;
                margin-top: 10px;
                margin-left: 12px;

                h2 {
                    width: 97%;
                    margin: 0 auto;
                    margin-top: 20px;
                    font-family: 'Teko';
                    font-size: 28pt;
                    text-align: center;
                }

                p {
                    font-size: 18pt;
                    width: 97%;
                    margin: 0 auto;
                    margin-top: 10px;
                    font-family: 'Teko2';
                    text-align: left;
                }

                #tit {
                    @extend .bot2;

                    &:hover {
                        background-color: map-get($colores, color-hover);
                        @include sizes (85px, 32px);
                    }
                }
            }

            .div6 {
                @include sizes (99%, 360px);
                margin: 0 auto;
                margin-left: 12px;
                margin-top: -30px;
                border: 2px solid black;
                border-right: none;

                img {
                    @include sizes (96%, 320px);
                    margin-top: 15px;
                    margin-left: 13px;
                    border: 2px solid white;
                }
            }

            .div7 {
                @include sizes (99%, 360px);
                margin: 0 auto;
                margin-right: 12px;
                margin-top: -30px;
                border: 2px solid black;

                h2 {
                    margin: 0 auto;
                    margin-top: 20px;
                    width: 97%;
                    font-family: 'Teko';
                    font-size: 24pt;
                    text-align: center;
                }

                p {
                    margin: 0 auto;
                    margin-top: 10px;
                    width: 97%;
                    font-size: 16pt;
                    font-family: 'Teko2';
                    text-align: left;
                }

                #not {
                    @extend .bot2;

                    &:hover {
                        background-color: map-get($colores, color-hover);
                        @include sizes (85px, 32px);
                    }
                }
            }
    }
}

/* ################################ CONTACTO.html ######################################## */

#for {
    grid-area: for;
}

@media screen and (min-width:#{$laptop}) {

    .grilla2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 78px 1fr 100px;
        column-gap: 0px;
        row-gap: 10px;
        grid-template-areas: "header"
            "for"
            "footer";

            .div9 {
                .formu {
                    @include sizes (80%, fit-content);
                    margin: 70px 0px 100px 15px;
                    font-family: 'Teko2';
                    font-size: 14pt;

                    h2 {
                        font-family: 'Teko';
                        font-size: 34pt;
                        width: 98%;
                        text-align: left;
                    }

                    .datos {
                        float: left;
                        width: 98%;
                        margin: 0 auto;

                        .nom {
                            margin-top: 20px;
                        }

                        .ape {
                            margin-top: 30px;
                        }

                        .mail {
                            margin-top: 30px;
                        }

                        .tick {
                            margin-top: 30px;
                        }

                        .opt {
                            margin-top: 30px;
                        }

                        .cont {
                            margin-top: 30px;
                        }

                        .env {
                            margin-top: 40px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
    }
}

/* ####################################### HISTORIA.html ########################################## */

// div14-17

#elClub {
    grid-area: elClub;
}

#colores {
    grid-area: colores;
}

#primera {
    grid-area: primera;
}

#gira {
    grid-area: gira;
}

@media screen and (min-width:#{$laptop}) {

    .grilla4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(3, 1fr) 100px;
        row-gap: 10px;
        grid-template-areas: "header header"
            "elClub elClub"
            "colores colores"
            "primera primera"
            "gira gira"
            "footer footer";

        .div14 {
            @include sizes (98%, fit-content);
            margin: 0 auto;
            margin-top: 80px;

            h2 {
                font-size: 34pt;
                margin: 0 auto;
                margin-left: 20px;
            }

            h4 {
                margin-top: -60px;
                margin: 0 auto;
                margin-right: 20px;
                font-size: 34pt;
                float: right;
            }

            .elClu {
                margin: 0 auto;

                h3 {
                    font-size: 34pt;
                    width: fit-content;
                    text-align: left;
                    margin-left: 20px;
                }

                img {
                    @include sizes (600px, 350px);
                    margin-right: 10px;
                    float: right;
                }

                p {
                    font-size: 18pt;
                    width: 99%;
                    margin: 0 auto;
                    padding: 4px;
                }
            }
        }

        .div15 {
            @include sizes (98%, fit-content);
            margin: 0 auto;
            margin-top: 25px;

            h3 {
                text-align: right;
                font-size: 34pt;
                margin-right: 20px;
            }

            img {
                @include sizes (600px, 350px);
                margin-left: 8px;
                float: left;
            }

            p {
                font-size: 18pt;
                text-align: right;
                width: 99%;
                padding: 4px;
                margin: 0 auto;
                margin-right: -2px;
            }
        }

        .div16 {
            @include sizes (98%, fit-content);
            margin: 0 auto;
            margin-top: -90px;

            h3 {
                font-size: 34pt;
                width: fit-content;
                text-align: left;
                margin-left: 20px;
            }

            img {
                @include sizes (600px, 350px);
                margin-right: 10px;
                float: right;
            }

            p {
                font-size: 18pt;
                width: 99%;
                margin: 0 auto;
                padding: 5px;
                margin-left: 5px;
            }
        }

        .div17 {
            @include sizes (98%, fit-content);
            margin: 0 auto;
            margin-top: -210px;

            h3 {
                text-align: right;
                font-size: 30pt;
                font-family: 'Teko';
                margin-right: 20px;
            }
        }
    }
}

/* ####################################### PLANTILLA.html ########################################## */

#plantel {
    grid-area: plantel;
}

#plantelG {
    grid-area: plantelG;
}

#gremio {
    grid-area: gremio;
}

#gremioT {
    grid-area: gremioT;
}

@media screen and (min-width:#{$laptop}) {

    .grilla3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(2, 1fr) 100px;
        row-gap: 10px;
        grid-template-areas: "header header"
            "plantel plantel"
            "plantelG plantelG"
            "gremio gremioT"
            "footer footer";

            .div10 {
                @include sizes (98%, fit-content);
                margin: 0 auto;
                margin-top: 80px;

                h2 {
                    font-size: 34pt;
                    font-family: 'Teko';
                }

                table {
                    text-align: center;
                    font-size: 14pt;

                    thead {
                        font-size: 18pt;
                    }
                }
            }
    }

    /* ------------------------------------- PLANTELES -------------------------------------------------*/

    .grilla3 {
        
        .div11 {
            @include sizes (98%, fit-content);
            margin: 0 auto;
            margin-top: 40px;

            h2 {
                font-size: 34pt;
                width: fit-content;
            }

            h3 {
                margin-top: 50px;
                font-size: 28pt;
                width: fit-content;
            }

            table {
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 18pt;
                }
            }
        }

        .div12 {
            height: fit-content;
            margin: 0 auto;
            margin-top: -680px;

            img {
                width: 98%;
                border: 2px solid white;
            }
        }

        .div13 {
            border: 2px solid black;
            margin-top: -620px;
            top: 0%;
            height: 330.45px;

            p {
                font-size: 18pt;
                text-align: left;
                margin: 0 auto;
                margin-top: 15px;
                width: 99%;
            }
        }
    }
}

/* ####################################### TITULOS.html ########################################## */

#trofeos {
    grid-area: trofeos;
}

#palermo {
    grid-area: palermo;
}

@media screen and (min-width:#{$laptop}) {

    .grilla5 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(2, 1fr) 100px;
        row-gap: 0px;
        grid-template-areas: "header header"
            "trofeos trofeos"
            "palermo palermo"
            "footer footer";
    }

    /* ------------------------------------- TROFEOS ----------------------------------------------  */

    .grilla5 {
        .div18 {
            margin-top: 80px;

            h2 {
                font-size: 34pt;
                font-family: 'Teko';
                margin-left: 15px;
            }

            table {
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 18pt;
                }
            }
        }

        .div19 {
            margin-top: 20px;

            h2 {
                font-size: 34pt;
                font-family: 'Teko';
                width: fit-content;
                margin-left: 15px;
            }

            iframe {
                width: 500px;
                height: 280px;
                margin-left: 5px;
            }

            img {
                @include sizes (500px, 280px);
                margin-top: 20px;
                float: right;
                margin-right: 5px;
            }

            p {
                font-family: 'Teko2';
                font-size: 18pt;
                text-align: left;
                margin: 0 auto;
                margin-top: 15px;
                width: 99%;
            }
        }
    }
}

/* ####################################### NOTICIAS.html ########################################## */

#cor {
    grid-area: cor;
}

#dyj {
    grid-area: dyj;
}

#tig {
    grid-area: tig;
}

#asa {
    grid-area: asa;
}

@media screen and (min-width:#{$laptop}) {

    .grilla6 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(2, 1fr) 100px;
        gap: 24px;
        grid-template-areas: "header header"
            "cor dyj"
            "tig asa"
            "footer footer";
    }

    /* ------------------------------------- NOTICIAS ----------------------------------------------  */

    .grilla6 {
        .noti {
            font-size: 34pt;
            font-family: 'Teko';
            margin-left: 15px;
            margin-top: 60px;
        }

        .div20 {
            height: 480px;
            margin-left: 10px;

            img {
                width: 476px;
            }

            h2 {
                font-size: 22pt;
            }

            p {
                font-size: 16pt;
            }
        }

        .div21 {
            margin-top: 135px;
            margin-right: 10px;
            float: right;

            img {
                @include sizes (476px, 280.2px);
            }

            h2 {
                font-size: 16.5pt;
            }

            p {
                font-size: 12pt;
            }
        }

        .div22 {
            height: 480px;
            margin-left: 10px;

            img {
                @include sizes (476px, 280.2px);
            }

            h2 {
                font-size: 22pt;
            }

            p {
                font-size: 16pt;
            }
        }

        .div30 {
            margin-top: 20px;
            margin-right: 10px;
            height: 480px;
            float: right;

            img {
                @include sizes (476px, 280.2px);
            }

            h2 {
                font-size: 16.5pt;
            }

            p {
                font-size: 12pt;
            }
        }
    }
}

/* ####################################### RESERVA.html ########################################## */

#tabla {
    grid-area: tabla;
}

#barr {
    grid-area: barr;
}

#prox {
    grid-area: prox;
}

#pibes {
    grid-area: pibes;
}

#hur {
    grid-area: hur;
}

@media screen and (min-width:#{$laptop}) {

    .grilla7 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(4, 1fr) 100px;
        gap: 15px;
        grid-template-areas: "header header"
            "tabla barr"
            "tabla prox"
            "pibes pibes"
            "hur hur"
            "footer footer";
    }

    /* ------------------------------------- RESERVA ----------------------------------------------- */

    .grilla7 {
        .div23 {
            margin-top: 80px;

            .res {
                h2 {
                    font-size: 40pt;
                    font-family: 'Teko';
                }
            }

            h2 {
                font-size: 34pt;
                font-family: 'Teko';
                margin-left: 10px;
            }

            table {
                margin-left: 10px;
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 14pt;
                }
            }
        }

        .div24 {
            margin-top: 80px;
            margin-left: 15px;
            height: 520px;
            width: 480px;

            img {
                @include sizes (466px, 250px);
            }
        }

        .div25 {
            h2 {
                font-size: 34pt;
                font-family: 'Teko';
                text-align: center;
            }

            table {
                margin: 0 auto;
                width: 430px;
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 18pt;
                }
            }
        }

        .div26 {
            margin-top: -280px;

            h2 {
                font-size: 34pt;
                font-family: 'Teko';
            }

            table {
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 18pt;
                }
            }
        }

        .div27 {
            margin-top: -150px;

            img {
                @include sizes (800px, 400px);
                margin-left: 100px;
            }
        }
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! MOBILE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ####################################### INDEX.html ########################################## */

/* ------------------------------------- CLUB ----------------------------------------------  */

.bot {
    width: 80px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 2px;
    float: right;
    font-family: 'Helvetica';
    font-size: 10pt;
    background-color: rgb(220, 219, 219);
    text-decoration: none;
    text-align: center;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
}

.div2 {
    width: 98%;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid black;
    background-image: url('../img/diario.jpg');

    .fotos {
        @include sizes (100%, 250px);
        margin: 0 auto;
    }
}

.div3 {
    @include sizes (98%, 260px);
    margin: 0 auto;
    background-image: url('../img/diario.jpg');
    border: 2px solid black;

    h2 {
        margin-top: 20px;
        font-family: 'Teko';
        color: map-get($colores, color-texto-primario);
        text-align: center;
    }

    p {
        font-size: 11pt;
        font-family: 'Teko2';
        text-align: left;
        width: 98%;
        margin-left: 4px;
        color: map-get($colores, color-texto-primario);
    }

    #his {
        @extend .bot;
    }
}

/* ------------------------------------- REAL MADRID -------------------------------------------------*/

.div4 {
    @include sizes (98%, 220px);
    margin: 0 auto;
    margin-top: 0px;
    border: 2px solid black;

    iframe {
        width: 100%;
        height: 215px;
    }
}

.div5 {
    margin: 0 auto;
    margin-top: 20px;
    width: 98%;
    border: 2px solid black;

    h2 {
        margin-top: 20px;
        color: map-get($colores, color-texto-primario);
        font-family: 'Teko';
        text-align: center;
    }

    p {
        font-size: 14pt;
        font-family: 'Teko2';
        text-align: left;
        margin-left: 4px;
        color: map-get($colores, color-texto-primario);
    }

    #tit {
        @extend .bot;
    }
}

/* ------------------------------------------------   TIGRE   ----------------------------------------------------------*/

.div6 {
    margin: 0 auto;
    margin-top: 20px;
    width: 98%;
    border: 2px solid black;

    img {
        width: 100%;
    }
}

.div7 {
    @include sizes (98%, 240px);
    margin: 0 auto;
    border: 2px solid black;

    h2 {
        font-size: 20pt;
        margin-top: 20px;
        color: map-get($colores, color-texto-primario);
        font-family: 'Teko';
        text-align: center;
    }

    p {
        font-size: 13pt;
        font-family: 'Teko2';
        text-align: left;
        margin-left: 4px;
        color: map-get($colores, color-texto-primario);
    }

    #not {
        @extend .bot;
    }
}

/* ####################################### CONTACTO.html ########################################## */

.formu {
    @include sizes (90%, 700px);
    margin: 0 auto;
    margin-top: 120px;
    font-family: 'Teko2';
    font-size: 14pt;
    margin-bottom: 20px;

    h2 {
        @include sizes (fit-content, fit-content);
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        font-size: 24pt;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
    }

    .datos {
        color: map-get($colores, color-texto-primario);

        .ape {
            margin-top: 20px;
        }

        .mail {
            margin-top: 20px;
        }

        .tick {
            margin-top: 20px;
        }

        .opt {
            margin-top: 20px;
        }

        .cont {
            margin-top: 20px;
        }
    }
}

/* ####################################### PLANTILLA.html ########################################## */

.div10 {
    margin-top: 120px;

    h2 {
        font-size: 20pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    table {
        font-size: 11pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);
        text-align: center;

        thead {
            font-family: 'Teko';
            font-size: 9pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div11 {
    margin-top: 40px;

    h2 {
        font-size: 20pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    h3 {
        font-size: 18pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    table {
        font-size: 11pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);

        thead {
            font-family: 'Teko';
            font-size: 9pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div12 {
    img {
        width: 98%;
        margin: 0 auto;
        margin-top: 15px;
        margin-left: 4px;
        border: 2px solid white;
    }
}

.div13 {
    border: 2px solid;
    margin-top: 15px;
    margin-left: 4px;
    width: 98%;

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
        text-align: left;
        margin: 0 auto;
        width: 99%;
    }
}

/* ####################################### HISTORIA.html ########################################## */

.texto-Historia {
    h3 {
        font-size: 22pt;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        margin-top: 40px;
        text-align: center;
    }

    img {
        @include sizes (98%, 280px);
        margin-left: 4px;
        border: 2px solid;
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
        text-align: left;
        margin: 0 auto;
        margin-top: 15px;
        width: 98%;
    }
}

.div14 {
    margin-top: 100px;
    @extend .texto-Historia;

    h2 {
        font-size: 24pt;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        margin-left: 5px;
    }

    h4 {
        font-size: 24pt;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        margin-left: 5px;
    }
}

.div15 {
    margin-top: 50px;
    @extend .texto-Historia;
}

.div16 {
    margin-top: 50px;
    @extend .texto-Historia;
}

.div17 {
    margin-top: 50px;
    @extend .texto-Historia;
}

/* ####################################### TITULOS.html ########################################## */

.div18 {
    margin-top: 120px;

    h2 {
        font-size: 24pt;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        margin-left: 5px;
    }

    table {
        font-size: 9pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);
        text-align: center;

        thead {
            font-family: 'Teko';
            font-size: 6pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div19 {
    margin-top: 40px;

    h2 {
        font-size: 24pt;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        text-align: center;
    }

    iframe {
        @include sizes (98%, 250px);
        margin: 0 auto;
        margin-left: 4px;
        margin-top: 5px;
        border: 2px solid white;
    }

    img {
        @include sizes (98%, 200px);
        margin: 0 auto;
        margin-top: 5px;
        margin-left: 4px;
        border: 2px solid white;
    }

    p {
        font-size: 14pt;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-primario);
        text-align: center;
        border: 2px solid;
        width: 98%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

/* ####################################### NOTICIAS.html ########################################## */

.noti {
    margin-top: 110px;
    font-size: 24pt;
    font-family: 'Teko';
    color: map-get($colores, color-titulos);
    margin-left: 5px;
}

.div20 {
    @include sizes (98%, fit-content);
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid;

    img {
        @include sizes (98%, 350px);
        margin: 0 auto;
        margin-top: 2px;
        border: 2px solid;
    }

    h2 {
        font-family: 'Teko';
        font-size: 16.5pt;
        text-align: center;
        color: map-get($colores, color-texto-primario);
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
    }
}

.div21 {
    @include sizes (98%, fit-content);
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid;

    img {
        @include sizes (98%, 350px);
        margin: 0 auto;
        margin-top: 2px;
        border: 2px solid;
    }

    h2 {
        font-family: 'Teko';
        font-size: 16.5pt;
        text-align: center;
        color: map-get($colores, color-texto-primario);
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
    }
}

.div22 {
    @include sizes (98%, fit-content);
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid;

    img {
        @include sizes (98%, 350px);
        margin: 0 auto;
        margin-top: 2px;
        border: 2px solid;
    }

    h2 {
        font-family: 'Teko';
        font-size: 16.5pt;
        text-align: center;
        color: map-get($colores, color-texto-primario);
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
    }
}

.div30 {
    @include sizes (98%, fit-content);
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid;

    img {
        @include sizes (98%, 350px);
        margin: 0 auto;
        margin-top: 2px;
        border: 2px solid;
    }

    h2 {
        font-family: 'Teko';
        font-size: 16.5pt;
        text-align: center;
        color: map-get($colores, color-texto-primario);
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
    }
}

/* ####################################### RESERVA.html ########################################## */

.div23 {
    margin-top: 110px;

    .res {
        h2 {
            font-size: 24pt;
            margin-left: 5px;
            font-family: 'Teko';
            color: map-get($colores, color-titulos);
        }
    }

    h2 {
        font-size: 20pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    table {
        font-size: 9pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);
        text-align: center;

        thead {
            font-family: 'Teko';
            font-size: 8pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div24 {
    @include sizes (98%, fit-content);
    border: 5px solid;
    margin: 0 auto;
    margin-top: 20px;

    img {
        @include sizes (98%, 350px);
        margin: 0 auto;
        margin-top: 2px;
        border: 2px solid;
    }

    h2 {
        font-family: 'Teko';
        font-size: 16.5pt;
        text-align: center;
        color: map-get($colores, color-texto-primario);
    }

    p {
        font-family: 'Teko2';
        font-size: 12pt;
        color: map-get($colores, color-texto-primario);
    }
}

.div25 {
    margin-top: 20px;

    h2 {
        font-size: 24pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    table {
        font-size: 14pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);

        thead {
            font-family: 'Teko';
            font-size: 16pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div26 {
    margin-top: 20px;

    h2 {
        font-size: 24pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    table {
        font-size: 12pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);

        thead {
            font-family: 'Teko';
            font-size: 14pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div27 {
    margin-top: 20px;

    img {
        @include sizes (98%, 280px);
        margin-left: 6px;
        margin-top: 2px;
        border: 2px solid;
    }
}