@import 'variables';
@import 'colores';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: map-get($colores, color-fondo);
}

@font-face {
    font-family: "Teko";
    src: url('../fonts/Teko-Bold.ttf');
}

@font-face {
    font-family: "Teko2";
    src: url('../fonts/Teko-Regular.ttf');
}

.div1 .animacion {
    animation-duration: 3s;
}

#header {
    grid-area: header;
}

#footer {
    grid-area: footer;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA QUERIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



/* ###################################### INDEX.html ########################################### */

#fot {
    grid-area: fot;
}

#club {
    grid-area: club;
}

#tig {
    grid-area: tig;
}

#sab {
    grid-area: sab;
}

@media screen and (min-width:#{$laptop}) {

    .grilla {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(3, 1fr) 100px;
        row-gap: 15px;
        grid-template-areas: "header header"
            "fot club"
            "rom vid"
            "tig sab"
            "footer footer";
    }

    /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */

    .grilla {
        .div1 {
            nav {
                border: 5px solid black;
                background-image: map-get($colores, color-header);
            }

            .bokita {
                width: 90px;
                height: 100px;
                float: left;
                margin-left: -10px;
                visibility: visible;
            }

            h1 {
                font-family: 'Teko';
                font-size: 30pt;
                color: map-get($colores, color-titulos);
                width: 430px;
                margin-left: 90px;
            }

            h2 {
                font-family: 'Teko';
                font-size: 22pt;
                color: map-get($colores, color-titulos);
                width: 220px;
                margin-left: 90px;
                margin-top: -7px;
            }

            .menu {
                font-size: 15pt;
                width: fit-content;
                border: 2px solid #ffc107;
                border-radius: 6px;
                float: right;
                margin-top: -40px;
                margin-right: -5px;

                .pag {
                    color: map-get($colores, color-texto-secundario);

                    &:hover {
                        color: map-get($colores, color-hover-header);
                    }
                }
            }
        }
    }

    /* ------------------------------------- CLUB -------------------------------------------------*/

    .bot2 {
        width: 80px;
        height: 30px;
        margin-top: -5px;
        border-radius: 4px;
        border: 2px solid black;
        float: right;
        font-size: 12pt;
        margin-right: 20px;
        outline: none;
        transition: height 1s;
    }

    .grilla {
        .div2 {
            margin-top: 50px;
            width: 102%;
            height: 360px;
            border: 2px solid black;
            background-image: url('../img/diario.jpg');

            .fotos {
                @include sizes(480px, 320px);
                margin-left: -10px;
            }
        }

        .div3 {
            background-image: url('../img/diario.jpg');
            border: 2px solid black;
            height: 360px;
            margin-top: 50px;

            h2 {
                margin-top: 20px;
                font-family: 'Teko';
                font-size: 24pt;
                text-align: center;
            }

            p {
                font-size: 14pt;
                font-family: 'Teko2';
                text-align: left;
                margin-left: 6px;
            }

            #his {
                @extend .bot2;

                &:hover {
                    background-color: map-get($colores, color-hover);
                    height: 35px;
                }
            }
        }
    }

    /* -------------------------------------- REAL MADRID ------------------------------------------*/


    .grilla {
        .div4 {
            margin-top: 10px;
            border: 2px solid black;
            height: 360px;

            iframe {
                @include sizes(98%, 320px);
                margin-top: 15px;
                margin-left: 5px;
                border: 2px solid white;
            }
        }

        .div5 {
            border: 2px solid black;
            margin-top: 10px;
            height: 360px;

            h2 {
                margin-top: 20px;
                font-family: 'Teko';
                font-size: 30pt;
                text-align: center;
            }

            p {
                font-size: 18pt;
                font-family: 'Teko2';
                text-align: left;
                margin-left: 4px;
            }

            #tit {
                @extend .bot2;

                &:hover {
                    background-color: map-get($colores, color-hover);
                    height: 35px;
                }
            }
        }
    }

    /* ----------------------------------------- TIGRE -----------------------------------------------*/


    .grilla {
        .div6 {
            margin-top: -30px;
            border: 2px solid black;
            height: 360px;

            img {
                @include sizes (98%, 320px);
                margin-top: 15px;
                margin-left: 5px;
                border: 2px solid white;
            }
        }

        .div7 {
            margin-top: -30px;
            border: 2px solid black;
            height: 360px;

            h2 {
                margin-top: 20px;
                font-family: 'Teko';
                font-size: 24pt;
                text-align: center;
            }

            p {
                font-size: 16pt;
                font-family: 'Teko2';
                text-align: left;
                margin-left: 6px;
            }

            #not {
                @extend .bot2;

                &:hover {
                    background-color: map-get($colores, color-hover);
                    height: 35px;
                }
            }
        }
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .grilla {
        .div8 {
            margin-top: -60px;
            border-top: 2px solid black;

            .pie {
                section {
                    a {
                        border: none;
                        width: 50px;
                        height: 36px;
                        transition: width 1s,
                            height 1s;

                        &:hover {
                            width: 65px;
                            height: 40px;
                        }
                    }
                }
            }

            .contacto {
                width: fit-content;
                margin: 0 auto;

                h2 {
                    font-family: 'Teko';
                    text-decoration: none;
                    width: fit-content;
                    margin: 0 auto;

                    &:hover {
                        color: map-get($colores, color-hover);
                    }
                }
            }
        }
    }

}

/* ################################ CONTACTO.html ######################################## */

#for {
    grid-area: for;
}

@media screen and (min-width:#{$laptop}) {

    .grilla2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 78px 1fr 100px;
        column-gap: 0px;
        row-gap: 10px;
        grid-template-areas: "header"
            "for"
            "footer";
    }

    /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */

    .grilla2 {
        .div1 {
            nav {
                border: 5px solid black;
            }

            .bokita {
                width: 90px;
                height: 100px;
                float: left;
                margin-left: -10px;
                visibility: visible;
            }

            h1 {
                font-family: 'Teko';
                font-size: 30pt;
                width: 430px;
                margin-left: 90px;
            }

            h2 {
                font-family: 'Teko';
                font-size: 22pt;
                width: 220px;
                margin-left: 90px;
                margin-top: -7px;
            }

            .menu {
                font-size: 15pt;
                width: fit-content;
                border: 2px solid #ffc107;
                border-radius: 6px;
                float: right;
                margin-top: -40px;
                margin-right: -8px;

                .pag {
                    color: map-get($colores, color-texto-secundario);

                    &:hover {
                        color: map-get($colores, color-hover-header);
                    }
                }
            }
        }
    }

    /* ####################################### FORMULARIO ########################################## */

    .grilla2 {
        .div9 {
            .formu {
                margin-top: 50px;
                font-family: 'Teko2';
                font-size: 14pt;
                width: 80%;
                height: 650px;
                margin-left: 15px;
                margin-bottom: 100px;

                h2 {
                    font-family: 'Teko';
                    font-size: 34pt;
                    height: fit-content;
                    width: fit-content;
                }

                .datos {
                    float: left;
                    margin-top: -10px;

                    .ape {
                        margin-top: 20px;
                    }

                    .mail {
                        margin-top: 20px;
                    }

                    .tick {
                        margin-top: 20px;
                    }

                    .opt {
                        margin-top: 20px;
                    }

                    .cont {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .grilla2 {
        .div8 {
            margin-top: -60px;
            border-top: 2px solid black;

            .pie {
                section {
                    a {
                        border: none;
                        width: 50px;
                        height: 36px;
                        transition: width 1s, height 1s;

                        &:hover {
                            width: 65px;
                            height: 40px;
                        }
                    }
                }
            }

            .contacto {
                width: fit-content;
                margin: 0 auto;

                h2 {
                    font-family: 'Teko';
                    width: fit-content;
                    margin: 0 auto;

                    &:hover {
                        color: map-get($colores, color-hover);
                    }
                }
            }
        }
    }
}

/* ####################################### HISTORIA.html ########################################## */

// div14-17

#elClub {
    grid-area: elClub;
}

#colores {
    grid-area: colores;
}

#primera {
    grid-area: primera;
}

#gira {
    grid-area: gira;
}

@media screen and (min-width:#{$laptop}) {

    .grilla4 {
        margin-top: -40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(3, 1fr) 100px;
        row-gap: 10px;
        grid-template-areas: "header header"
            "elClub elClub"
            "colores colores"
            "primera primera"
            "gira gira"
            "footer footer";
    }


    /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */

    .grilla4 {
        .div1 {
            nav {
                border: 5px solid black;
            }

            .bokita {
                @include sizes (90px, 100px);
                float: left;
                margin-left: -10px;
                visibility: visible;
            }

            h1 {
                font-family: 'Teko';
                font-size: 30pt;
                width: 430px;
                margin-left: 90px;
            }

            h2 {
                font-family: 'Teko';
                font-size: 22pt;
                width: 220px;
                margin-left: 90px;
                margin-top: -7px;
            }

            .menu {
                font-size: 15pt;
                width: fit-content;
                border: 2px solid #ffc107;
                border-radius: 6px;
                float: right;
                margin-top: -40px;
                margin-right: -8px;

                .pag {
                    color: map-get($colores, color-texto-secundario);

                    &:hover {
                        color: map-get($colores, color-hover-header);
                    }
                }
            }
        }
    }

    /* ------------------------------------- CONTENIDO -------------------------------------------------*/

    .grilla4 {
        .div14 {
            .titulo {
                h2 {
                    font-size: 34pt;
                    font-family: 'Teko';
                }
            }

            .elClu {
                h3 {
                    font-size: 30pt;
                    text-align: left;
                    margin-left: 20px;
                }

                img {
                    width: 600px;
                    margin-right: 10px;
                    margin-top: 5px;
                    float: right;
                }

                p {
                    font-family: 'Teko2';
                    font-size: 16pt;
                    text-align: left;
                    padding: 8px;
                    border: 2px solid;
                }
            }
        }

        .div15 {
            h3 {
                text-align: right;
                font-size: 30pt;
                font-family: 'Teko';
                margin-right: 20px;
            }

            img {
                width: 600px;
                margin-left: 10px;
                margin-top: 5px;
                float: left;
            }

            p {
                font-family: 'Teko2';
                font-size: 16pt;
                text-align: right;
                padding: 8px;
                border: 2px solid;
            }
        }

        .div16 {
            margin-top: -100px;

            h3 {
                font-size: 30pt;
                text-align: left;
                margin-left: 20px;
            }

            img {
                width: 600px;
                margin-right: 10px;
                margin-top: 5px;
                float: right;
            }

            p {
                font-family: 'Teko2';
                font-size: 16pt;
                text-align: left;
                padding: 8px;
                border: 2px solid;
            }
        }

        .div17 {
            margin-top: -250px;

            h3 {
                text-align: right;
                font-size: 30pt;
                font-family: 'Teko';
                margin-right: 20px;
            }
        }
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .grilla4 {
        .div8 {
            margin-top: -60px;
            border-top: 2px solid black;

            .pie {
                section {
                    a {
                        border: none;
                        width: 50px;
                        height: 36px;
                        transition: width 1s,
                            height 1s;

                        &:hover {
                            width: 65px;
                            height: 40px;
                        }
                    }
                }
            }

            .contacto {
                width: fit-content;
                margin: 0 auto;

                h2 {
                    font-family: 'Teko';
                    width: fit-content;
                    margin: 0 auto;

                    &:hover {
                        color: map-get($colores, color-hover);
                    }
                }
            }
        }
    }
}


/* ####################################### PLANTILLA.html ########################################## */

#plantel {
    grid-area: plantel;
}

#plantelG {
    grid-area: plantelG;
}

#gremio {
    grid-area: gremio;
}

#gremioT {
    grid-area: gremioT;
}

@media screen and (min-width:#{$laptop}) {

    .grilla3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(2, 1fr) 100px;
        row-gap: 10px;
        grid-template-areas: "header header"
            "plantel plantel"
            "plantelG plantelG"
            "gremio gremioT"
            "footer footer";
    }

    /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */

    .grilla3 {
        .div1 {
            nav {
                border: 5px solid black;
            }

            .bokita {
                @include sizes (90px, 100px);
                float: left;
                margin-left: -10px;
                visibility: visible;
            }

            h1 {
                font-family: 'Teko';
                font-size: 30pt;
                width: 430px;
                margin-left: 90px;
            }

            h2 {
                font-family: 'Teko';
                font-size: 22pt;
                width: 220px;
                margin-left: 90px;
                margin-top: -7px;
            }

            .menu {
                font-size: 15pt;
                width: fit-content;
                border: 2px solid #ffc107;
                border-radius: 6px;
                float: right;
                margin-top: -40px;
                margin-right: -8px;

                .pag {
                    color: map-get($colores, color-texto-secundario);

                    &:hover {
                        color: map-get($colores, color-hover-header);
                    }
                }
            }
        }
    }

    /* ------------------------------------- PLANTELES -------------------------------------------------*/

    .grilla3 {
        .div10 {
            margin-top: 80px;

            h2 {
                font-size: 34pt;
                font-family: 'Teko';
            }

            table {
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 18pt;
                }
            }
        }

        .div11 {
            margin-top: 20px;

            h2 {
                font-size: 34pt;
                font-family: 'Teko';
                width: fit-content;
            }

            h3 {
                margin-top: 50px;
                font-size: 28pt;
                font-family: 'Teko';
                width: fit-content;
            }

            table {
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 18pt;
                }
            }
        }

        .div12 {
            height: fit-content;
            margin: 0 auto;
            margin-top: -120px;

            img {
                margin-left: 10px;
                width: 96%;
                border: 2px solid white;
            }
        }

        .div13 {
            border: 2px solid black;
            margin-top: -120px;
            height: 330.45px;

            p {
                font-family: 'Teko2';
                font-size: 18pt;
                text-align: left;
                margin: 0 auto;
                margin-top: 15px;
                width: 99%;
            }
        }
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .grilla3 {
        .div8 {
            margin-top: 130px;

            .pie {
                section {
                    a {
                        border: none;
                        width: 50px;
                        height: 36px;
                        transition: width 1s, height 1s;

                        &:hover {
                            width: 65px;
                            height: 40px;
                        }
                    }
                }
            }

            .contacto {
                width: fit-content;
                margin: 0 auto;

                h2 {
                    font-family: 'Teko';
                    width: fit-content;
                    margin: 0 auto;

                    &:hover {
                        color: map-get($colores, color-hover);
                    }
                }
            }
        }
    }
}

/* ####################################### TITULOS.html ########################################## */

#trofeos {
    grid-area: trofeos;
}

#palermo {
    grid-area: palermo;
}

@media screen and (min-width:#{$laptop}) {

    .grilla5 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(2, 1fr) 100px;
        row-gap: 0px;
        grid-template-areas: "header header"
            "trofeos trofeos"
            "palermo palermo"
            "footer footer";
    }

    /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */

    .grilla5 {
        .div1 {
            nav {
                border: 5px solid black;
            }

            .bokita {
                @include sizes (90px, 100px);
                float: left;
                margin-left: -10px;
                visibility: visible;
            }

            h1 {
                font-family: 'Teko';
                font-size: 30pt;
                width: 430px;
                margin-left: 90px;
            }

            h2 {
                font-family: 'Teko';
                font-size: 22pt;
                width: 220px;
                margin-left: 90px;
                margin-top: -7px;
            }

            .menu {
                font-size: 15pt;
                width: fit-content;
                border: 2px solid #ffc107;
                border-radius: 6px;
                float: right;
                margin-top: -40px;
                margin-right: -8px;

                .pag {
                    color: map-get($colores, color-texto-secundario);

                    &:hover {
                        color: map-get($colores, color-hover-header);
                    }
                }
            }
        }
    }

    /* ------------------------------------- TROFEOS ----------------------------------------------  */

    .grilla5 {
        .div18 {
            margin-top: 80px;

            h2 {
                font-size: 34pt;
                font-family: 'Teko';
                margin-left: 15px;
            }

            table {
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 18pt;
                }
            }
        }

        .div19 {
            margin-top: 20px;

            h2 {
                font-size: 34pt;
                font-family: 'Teko';
                width: fit-content;
                margin-left: 15px;
            }

            iframe {
                width: 500px;
                height: 280px;
                margin-left: 5px;
            }

            img {
                @include sizes (500px, 280px);
                margin-top: 20px;
                float: right;
                margin-right: 5px;
            }

            p {
                font-family: 'Teko2';
                font-size: 18pt;
                text-align: left;
                margin: 0 auto;
                margin-top: 15px;
                width: 99%;
            }
        }
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .grilla5 {
        .div8 {
            margin-top: 130px;

            .pie {
                section {
                    a {
                        border: none;
                        width: 50px;
                        height: 36px;
                        transition: width 1s, height 1s;

                        &:hover {
                            width: 65px;
                            height: 40px;
                        }
                    }
                }
            }

            .contacto {
                width: fit-content;
                margin: 0 auto;

                h2 {
                    font-family: 'Teko';
                    width: fit-content;
                    margin: 0 auto;

                    &:hover {
                        color: map-get($colores, color-hover);
                    }
                }
            }
        }
    }
}

/* ####################################### NOTICIAS.html ########################################## */

#cor {
    grid-area: cor;
}

#dyj {
    grid-area: dyj;
}

#tig {
    grid-area: tig;
}

#asa {
    grid-area: asa;
}

@media screen and (min-width:#{$laptop}) {

    .grilla6 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(2, 1fr) 100px;
        gap: 24px;
        grid-template-areas: "header header"
            "cor dyj"
            "tig asa"
            "footer footer";
    }

    /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */

    .grilla6 {
        .div1 {
            nav {
                border: 5px solid black;
                background-color: rgb(0, 0, 255);
            }

            .bokita {
                @include sizes (90px, 100px);
                float: left;
                margin-left: -10px;
                visibility: visible;
            }

            h1 {
                font-family: 'Teko';
                font-size: 30pt;
                width: 430px;
                margin-left: 90px;
            }

            h2 {
                font-family: 'Teko';
                font-size: 22pt;
                width: 220px;
                margin-left: 90px;
                margin-top: -7px;
            }

            .menu {
                font-size: 15pt;
                width: fit-content;
                border: 2px solid #ffc107;
                border-radius: 6px;
                float: right;
                margin-top: -40px;
                margin-right: -8px;

                .pag {
                    color: map-get($colores, color-texto-secundario);

                    &:hover {
                        color: map-get($colores, color-hover-header);
                    }
                }
            }
        }
    }

    /* ------------------------------------- NOTICIAS ----------------------------------------------  */

    .grilla6 {
        .noti {
            font-size: 34pt;
            font-family: 'Teko';
            margin-left: 15px;
            margin-top: 60px;
        }

        .div20 {
            height: 480px;
            margin-left: 10px;

            img {
                width: 476px;
            }

            h2 {
                font-size: 22pt;
            }

            p {
                font-size: 16pt;
            }
        }

        .div21 {
            margin-top: 135px;
            margin-right: 10px;
            float: right;

            img {
                @include sizes (476px, 280.2px);
            }

            h2 {
                font-size: 16.5pt;
            }

            p {
                font-size: 12pt;
            }
        }

        .div22 {
            height: 480px;
            margin-left: 10px;

            img {
                @include sizes (476px, 280.2px);
            }

            h2 {
                font-size: 22pt;
            }

            p {
                font-size: 16pt;
            }
        }

        .div30 {
            margin-top: 20px;
            margin-right: 10px;
            height: 480px;
            float: right;

            img {
                @include sizes (476px, 280.2px);
            }

            h2 {
                font-size: 16.5pt;
            }

            p {
                font-size: 12pt;
            }
        }
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .grilla6 {
        .div8 {
            margin-top: -60px;
            border-top: 2px solid black;

            .pie {
                section {
                    a {
                        border: none;
                        width: 50px;
                        height: 36px;
                        transition: width 1s,
                            height 1s;

                        &:hover {
                            width: 65px;
                            height: 40px;
                        }
                    }
                }
            }

            .contacto {
                width: fit-content;
                margin: 0 auto;

                h2 {
                    font-family: 'Teko';
                    text-decoration: none;
                    width: fit-content;
                    margin: 0 auto;

                    &:hover {
                        color: map-get($colores, color-hover);
                    }
                }
            }
        }
    }
}

/* ####################################### RESERVA.html ########################################## */

#tabla {
    grid-area: tabla;
}

#barr {
    grid-area: barr;
}

#prox {
    grid-area: prox;
}

#pibes {
    grid-area: pibes;
}

#hur {
    grid-area: hur;
}

@media screen and (min-width:#{$laptop}) {

    .grilla7 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 78px repeat(4, 1fr) 100px;
        gap: 15px;
        grid-template-areas: "header header"
            "tabla barr"
            "tabla prox"
            "pibes pibes"
            "hur hur"
            "footer footer";

    }

    /* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */

    .grilla7 {
        .div1 {
            nav {
                border: 5px solid black;
            }

            .bokita {
                @include sizes (90px, 100px);
                float: left;
                margin-left: -10px;
                visibility: visible;
            }

            h1 {
                font-family: 'Teko';
                font-size: 30pt;
                width: 430px;
                margin-left: 90px;
            }

            h2 {
                font-family: 'Teko';
                font-size: 22pt;
                width: 220px;
                margin-left: 90px;
                margin-top: -7px;
            }

            .menu {
                font-size: 15pt;
                width: fit-content;
                border: 2px solid #ffc107;
                border-radius: 6px;
                float: right;
                margin-top: -40px;
                margin-right: -5px;

                .pag {
                    color: map-get($colores, color-texto-secundario);

                    &:hover {
                        color: map-get($colores, color-hover-header);
                    }
                }
            }
        }
    }

    /* ------------------------------------- RESERVA ----------------------------------------------- */

    .grilla7 {
        .div23 {
            margin-top: 80px;

            .res {
                h2 {
                    font-size: 40pt;
                    font-family: 'Teko';
                }
            }

            h2 {
                font-size: 34pt;
                font-family: 'Teko';
                margin-left: 10px;
            }

            table {
                margin-left: 10px;
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 14pt;
                }
            }
        }

        .div24 {
            margin-top: 80px;
            margin-left: 15px;
            height: 520px;
            width: 480px;

            img {
                @include sizes (466px, 250px);
            }
        }

        .div25 {
            h2 {
                font-size: 34pt;
                font-family: 'Teko';
                text-align: center;
            }

            table {
                margin: 0 auto;
                width: 430px;
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 18pt;
                }
            }
        }

        .div26 {
            margin-top: -280px;

            h2 {
                font-size: 34pt;
                font-family: 'Teko';
            }

            table {
                text-align: center;
                font-size: 14pt;

                thead {
                    font-size: 18pt;
                }
            }
        }

        .div27 {
            margin-top: -150px;

            img {
                @include sizes (800px, 400px);
                margin-left: 100px;
            }
        }
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .grilla7 {
        .div8 {
            margin-top: -60px;
            border-top: 2px solid black;

            .pie {
                section {
                    a {
                        border: none;
                        width: 50px;
                        height: 36px;
                        transition: width 1s,
                            height 1s;

                        &:hover {
                            width: 65px;
                            height: 40px;
                        }
                    }
                }
            }

            .contacto {
                width: fit-content;
                margin: 0 auto;

                h2 {
                    font-family: 'Teko';
                    text-decoration: none;
                    width: fit-content;
                    margin: 0 auto;

                    &:hover {
                        color: map-get($colores, color-hover);
                    }
                }
            }
        }
    }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! MOBILE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ####################################### INDEX.html ########################################## */


/* ::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::: */

.div1 {
    nav {
        border: 5px solid black;
        background-image: map-get($colores, color-header);

        .bokita {
            width: 55px;
            height: 55px;
            float: right;
            visibility: hidden;
        }

        h1 {
            font-family: 'Teko';
            font-size: 20pt;
            color: map-get($colores, color-titulos);
            margin-left: -6px;
        }

        h2 {
            font-family: 'Teko';
            font-size: 14pt;
            color: map-get($colores, color-titulos);
            margin-left: -6px;
            margin-bottom: -5px;
        }

        .navbar-toggler {
            margin-top: -45px;
            float: right;

            .navbar-toggler-icon {
                width: 7px;
                height: 15px;

                img {
                    margin-left: -24px;
                    margin-top: -19px;
                    width: 55px;
                    height: 55px;
                }
            }
        }

        .menu {
            .pag {
                margin-top: 5px;
                color: map-get($colores, color-texto-secundario);
                width: fit-content;
            }
        }
    }
}

/* ------------------------------------- CLUB ----------------------------------------------  */

.bot {
    width: 80px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 2px;
    float: right;
    font-family: 'Helvetica';
    font-size: 10pt;
    background-color: rgb(220, 219, 219);
    text-decoration: none;
    text-align: center;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
}

.div2 {
    width: 98%;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid black;
    background-image: url('../img/diario.jpg');

    .fotos {
        @include sizes (100%, 250px);
        margin: 0 auto;
    }
}

.div3 {
    @include sizes (98%, 260px);
    margin: 0 auto;
    background-image: url('../img/diario.jpg');
    border: 2px solid black;

    h2 {
        margin-top: 20px;
        font-family: 'Teko';
        color: map-get($colores, color-texto-primario);
        text-align: center;
    }

    p {
        font-size: 11pt;
        font-family: 'Teko2';
        text-align: left;
        width: 98%;
        margin-left: 4px;
        color: map-get($colores, color-texto-primario);
    }

    #his {
        @extend .bot;
    }
}

/* ------------------------------------- REAL MADRID -------------------------------------------------*/

.div4 {
    @include sizes (98%, 220px);
    margin: 0 auto;
    margin-top: 0px;
    border: 2px solid black;

    iframe {
        width: 100%;
        height: 215px;
    }
}

.div5 {
    margin: 0 auto;
    margin-top: 20px;
    width: 98%;
    border: 2px solid black;

    h2 {
        margin-top: 20px;
        color: map-get($colores, color-texto-primario);
        font-family: 'Teko';
        text-align: center;
    }

    p {
        font-size: 14pt;
        font-family: 'Teko2';
        text-align: left;
        margin-left: 4px;
        color: map-get($colores, color-texto-primario);
    }

    #tit {
        @extend .bot;
    }
}

/* ------------------------------------------------   TIGRE   ----------------------------------------------------------*/

.div6 {
    margin: 0 auto;
    margin-top: 20px;
    width: 98%;
    border: 2px solid black;

    img {
        width: 100%;
    }
}

.div7 {
    @include sizes (98%, 240px);
    margin: 0 auto;
    border: 2px solid black;

    h2 {
        font-size: 20pt;
        margin-top: 20px;
        color: map-get($colores, color-texto-primario);
        font-family: 'Teko';
        text-align: center;
    }

    p {
        font-size: 13pt;
        font-family: 'Teko2';
        text-align: left;
        margin-left: 4px;
        color: map-get($colores, color-texto-primario);
    }

    #not {
        @extend .bot;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.div8 {
    margin-top: 10px;
    border-top: 2px solid black;

    .pie {
        section {
            a {
                border: none;
                width: 50px;
                height: 36px;
            }
        }

        .contacto {
            width: fit-content;
            margin: 0 auto;

            a {
                text-decoration: none;

                h2 {
                    font-family: 'Teko';
                    color: map-get($colores, color-texto-secundario);
                    width: fit-content;
                    margin: 0 auto;
                }
            }
        }
    }
}

/* ####################################### CONTACTO.html ########################################## */

.formu {
    @include sizes (90%, 700px);
    margin: 0 auto;
    margin-top: 120px;
    font-family: 'Teko2';
    font-size: 14pt;
    margin-bottom: 20px;

    h2 {
        @include sizes (fit-content, fit-content);
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        font-size: 24pt;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
    }

    .datos {
        color: map-get($colores, color-texto-primario);

        .ape {
            margin-top: 20px;
        }

        .mail {
            margin-top: 20px;
        }

        .tick {
            margin-top: 20px;
        }

        .opt {
            margin-top: 20px;
        }

        .cont {
            margin-top: 20px;
        }
    }
}

/* ####################################### PLANTILLA.html ########################################## */

.div10 {
    margin-top: 120px;

    h2 {
        font-size: 20pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    table {
        font-size: 11pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);
        text-align: center;

        thead {
            font-family: 'Teko';
            font-size: 9pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div11 {
    margin-top: 40px;

    h2 {
        font-size: 20pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    h3 {
        font-size: 18pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    table {
        font-size: 11pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);

        thead {
            font-family: 'Teko';
            font-size: 9pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div12 {
    img {
        width: 98%;
        margin: 0 auto;
        margin-top: 15px;
        margin-left: 4px;
        border: 2px solid white;
    }
}

.div13 {
    border: 2px solid;
    margin-top: 15px;
    margin-left: 4px;
    width: 98%;

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
        text-align: left;
        margin: 0 auto;
        width: 99%;
    }
}

/* ####################################### HISTORIA.html ########################################## */

.div14 {
    margin-top: 100px;

    .titulo {
        h2 {
            font-size: 24pt;
            font-family: 'Teko';
            color: map-get($colores, color-titulos);
            margin-left: 5px;
        }
    }

    .elClu {
        h3 {
            font-size: 22pt;
            font-family: 'Teko';
            color: map-get($colores, color-titulos);
            margin-top: 40px;
            text-align: center;
        }

        img {
            height: 350px;
            width: 98%;
            margin-left: 4px;
            border: 2px solid;
        }

        p {
            font-family: 'Teko2';
            font-size: 14pt;
            color: map-get($colores, color-texto-primario);
            text-align: left;
            margin: 0 auto;
            margin-top: 5px;
            border: 2px solid;
            width: 99%;
        }
    }
}

.div15 {
    margin-top: 50px;

    h3 {
        font-size: 22pt;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        text-align: center;
    }

    img {
        height: 350px;
        width: 98%;
        margin-left: 4px;
        border: 2px solid;
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
        text-align: left;
        margin: 0 auto;
        margin-top: 5px;
        border: 2px solid;
        width: 99%;
    }
}

.div16 {
    margin-top: 50px;

    h3 {
        font-size: 22pt;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        text-align: center;
    }

    img {
        height: 350px;
        width: 98%;
        margin-left: 4px;
        border: 2px solid;
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
        text-align: left;
        margin: 0 auto;
        margin-top: 5px;
        border: 2px solid;
        width: 99%;
    }
}

.div17 {
    margin-top: 50px;

    h3 {
        font-size: 22pt;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        text-align: center;
    }
}

/* ####################################### TITULOS.html ########################################## */

.div18 {
    margin-top: 120px;

    h2 {
        font-size: 24pt;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        margin-left: 5px;
    }

    table {
        font-size: 9pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);
        text-align: center;

        thead {
            font-family: 'Teko';
            font-size: 6pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div19 {
    margin-top: 40px;

    h2 {
        font-size: 24pt;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
        text-align: center;
    }

    iframe {
        @include sizes (98%, 250px);
        margin: 0 auto;
        margin-left: 4px;
        margin-top: 5px;
        border: 2px solid white;
    }

    img {
        @include sizes (98%, 200px);
        margin: 0 auto;
        margin-top: 5px;
        margin-left: 4px;
        border: 2px solid white;
    }

    p {
        font-size: 14pt;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-primario);
        text-align: center;
        border: 2px solid;
        width: 98%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

/* ####################################### NOTICIAS.html ########################################## */

.noti {
    margin-top: 110px;
    font-size: 24pt;
    font-family: 'Teko';
    color: map-get($colores, color-titulos);
    margin-left: 5px;
}

.div20 {
    @include sizes (98%, fit-content);
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid;

    img {
        @include sizes (98%, 350px);
        margin: 0 auto;
        margin-top: 2px;
        border: 2px solid;
    }

    h2 {
        font-family: 'Teko';
        font-size: 16.5pt;
        text-align: center;
        color: map-get($colores, color-texto-primario);
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
    }
}

.div21 {
    @include sizes (98%, fit-content);
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid;

    img {
        @include sizes (98%, 350px);
        margin: 0 auto;
        margin-top: 2px;
        border: 2px solid;
    }

    h2 {
        font-family: 'Teko';
        font-size: 16.5pt;
        text-align: center;
        color: map-get($colores, color-texto-primario);
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
    }
}

.div22 {
    @include sizes (98%, fit-content);
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid;

    img {
        @include sizes (98%, 350px);
        margin: 0 auto;
        margin-top: 2px;
        border: 2px solid;
    }

    h2 {
        font-family: 'Teko';
        font-size: 16.5pt;
        text-align: center;
        color: map-get($colores, color-texto-primario);
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
    }
}

.div30 {
    @include sizes (98%, fit-content);
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid;

    img {
        @include sizes (98%, 350px);
        margin: 0 auto;
        margin-top: 2px;
        border: 2px solid;
    }

    h2 {
        font-family: 'Teko';
        font-size: 16.5pt;
        text-align: center;
        color: map-get($colores, color-texto-primario);
    }

    p {
        font-family: 'Teko2';
        font-size: 14pt;
        color: map-get($colores, color-texto-primario);
    }
}

/* ####################################### RESERVA.html ########################################## */

.div23 {
    margin-top: 110px;

    .res {
        h2 {
            font-size: 24pt;
            margin-left: 5px;
            font-family: 'Teko';
            color: map-get($colores, color-titulos);
        }
    }

    h2 {
        font-size: 20pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    table {
        font-size: 9pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);
        text-align: center;

        thead {
            font-family: 'Teko';
            font-size: 8pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div24 {
    @include sizes (98%, fit-content);
    border: 5px solid;
    margin: 0 auto;
    margin-top: 20px;

    img {
        @include sizes (98%, 350px);
        margin: 0 auto;
        margin-top: 2px;
        border: 2px solid;
    }

    h2 {
        font-family: 'Teko';
        font-size: 16.5pt;
        text-align: center;
        color: map-get($colores, color-texto-primario);
    }

    p {
        font-family: 'Teko2';
        font-size: 12pt;
        color: map-get($colores, color-texto-primario);
    }
}

.div25 {
    margin-top: 20px;

    h2 {
        font-size: 24pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    table {
        font-size: 14pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);

        thead {
            font-family: 'Teko';
            font-size: 16pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div26 {
    margin-top: 20px;

    h2 {
        font-size: 24pt;
        margin-left: 5px;
        font-family: 'Teko';
        color: map-get($colores, color-titulos);
    }

    table {
        font-size: 12pt;
        width: 98%;
        margin: 0 auto;
        font-family: 'Teko2';
        color: map-get($colores, color-texto-secundario);

        thead {
            font-family: 'Teko';
            font-size: 14pt;
            color: map-get($colores, color-titulos);
        }
    }
}

.div27 {
    margin-top: 20px;

    img {
        @include sizes (98%, 280px);
        margin-left: 6px;
        margin-top: 2px;
        border: 2px solid;
    }
}